.searchBar {
    margin: 10px auto;
    display: flex;
    max-width: 700px;
    overflow: hidden;
}

.searchBar-label { /* it's only there for accessibility so move it out of the screen */
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.searchBar-input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding: 5px 12px;
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    -webkit-appearance: none;
    transition: width 300ms;
    flex-shrink: 0;
    margin-right: 10px;
}

.searchBar-error {
    color: red;
    font-size: 0.8rem;
}

@media only screen and (max-width: 46.875rem /* 750px */) {

    .searchBar {
        margin-left: 10px;
        margin-right: 10px;
    }
}