.searchResults {

}

.searchResults-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 10px 10px auto;
}

.searchResults-logo > img {
    width: 100px;
    margin-left: 5px;
}

.searchResults-empty::before {
    content: '\279C';
    display: block;
    font-size: 4rem;
    font-weight: normal;
    width: 50px;
    margin: 0 auto 25px;
    transform: rotate(-90deg);
    z-index: -1;
}

.searchResults-empty {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin: 25px 10px 10px;
}