.actorField {
    width: 100%;
}

.actorField-label {
    min-width: 100px;
    display: inline-block;
}

.actorField-subField {
    display: flex;
    margin-right: 10px;
    padding: 2px 0;
}

.formFieldset .multiField.multiField-actors {
    width: 100%;
}

.multiField-actors .multiField-delBtn {
    border: none;
    background: none;
    color: var(--primary-color);
}