.tagsField-noTag {
    height: 30px;
    font-size: 12px;
    color: gray;
    line-height: 30px;
    padding-left: 15px;
    margin-bottom: 5px;
}

/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
    margin: 0 15px;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: calc(100% + 30px);
    margin-top: 5px;
    margin-left: -15px;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 32px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid var(--primary-color);
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 2px 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
}
div.ReactTags__suggestions ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px 0;
    padding: 0;
    list-style-type: none;
    background-color: white;

}
div.ReactTags__suggestions li {
    padding: 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}